<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML APPLI</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>BanqueCard</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="MT TRANSACTION" placeholder="MT TRANSACTION" required="required" />
        <input type="number" name="NT TRANSACTION" placeholder="NT TRANSACTION " required="required" />
		<input type="number" name="SRT SUR CARTE DE CREDIT" placeholder="SRT SUR CARTE DE CREDIT" required="required" />
    <input type="number" name="CHANGEMENT DU NOMBRE DE TRANSACTION" placeholder="CHANGEMENT DU NOMBRE DE TRANSACTION" required="required" />
    <input type="number" name="PERIODE DE RELATION AVEC LA BANQUE" placeholder="PERIODE DE RELATION AVEC LA BANQUE " required="required" />
    <input type="number" name="UTILISATION DE LA CARTE" placeholder="UTILISATION DE LA CARTE" required="required" />
    <input type="number" name="INACTIVITE AU COURS DES 12 DERNIER MOIS" placeholder="INACTIVITE AU COURS DES 12 DERNIER MOIS" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
